prpo-trgovina-sheme/lib/si/fri/prpo/sheme/napake/v1/NapakeTipi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://prpo.fri.si/sheme/napake/v1"
	xmlns:tns="http://prpo.fri.si/sheme/napake/v1"
	elementFormDefault="qualified">

	<complexType name="NapakeType">
		<sequence>
			<element name="status" type="int" minOccurs="0" maxOccurs="1" />
			<element name="koda" type="string" minOccurs="0" maxOccurs="1" />
			<element name="sporocilo" type="string" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>
	

</schema>

